.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('src/assets/test.jpeg');
    background-size: cover;
  }
  .matCard{
      background-color: #50394c;
      display: flex;
      flex-direction: row;
      padding: 10px 10px 10px 10px;
      width: 100%;
  }
  .card{
      width: 25%;
      margin: 100px 10px 10px 10px;
  }