<div class="matCard">
    <mat-card class="example-card card" *ngFor="let card of cards">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="card.url" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{card.content}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="result()">Result</button>
        </mat-card-actions>
      </mat-card>

</div>
